<!-- IF MARKET_WIDGET -->
<!-- TradingView Widget BEGIN -->
<style>
.tradingview-market-widget-container {
	margin: 0 auto;
	padding: 20px 0;
	height: {HEIGHT1}px;
	width: 100%;
	position: absolute;
	top: -26px;
}
.market-widget-container {
	position: relative;
	width: auto;
	height: {HEIGHT2}px;
}
</style>
<div class="market-widget-container">
	<div class="tradingview-market-widget-container">
		<div class="tradingview-widget-container__widget"></div>
		<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
			{
				"showChart": true,
					"locale": "en",
					"width": "100%",
					"height": "100%",
					"largeChartUrl": "",
					"plotLineColorGrowing": "rgba(60, 188, 152, 1)",
					"plotLineColorFalling": "rgba(255, 74, 104, 1)",
					"gridLineColor": "rgba(233, 233, 234, 1)",
					"scaleFontColor": "rgba(233, 233, 234, 1)",
					"belowLineFillColorGrowing": "rgba(60, 188, 152, 0.05)",
					"belowLineFillColorFalling": "rgba(255, 74, 104, 0.05)",
					"symbolActiveColor": "rgba(242, 250, 254, 1)",
					"tabs": [
				{
					"title": "Indices",
					"symbols": {SYMBOLS},
					"originalTitle": "Indices"
				}
			]
			}
		</script>
	</div>
</div>
<!-- TradingView Widget END -->
<!-- ELSEIF EMPTY_MARKET_WIDGET -->
<div class="market-widget-container">
	<h2>Set Symbols to show in Market Overview Widget</h2>
</div>
<!-- ENDIF -->